@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 0;
    border-radius: 0;
    border-left: 1px solid rgba(217, 217, 217, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: scroll;
}

.clear {
    clear: both;
}

#logo a {
    color: #333;
    text-decoration: none;
}

#administration {
    position: absolute;
    top: 10px;
    right: 20px;
}

#signup-link {
    display: none;
}

.admin-navigation {
    padding: 8px 0;
}

.content > div > a {
    display: block;
    border-left: 0px solid #ccc;
    padding-left: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.content > div > a:hover {
    padding-left: 10px;
    border-left-width: 4px;
}

.content > div > a + a {
    margin-top: 80px;
}

.content  a article,
.content  a article:hover,
.content  a:hover {
    color: #333;
    text-decoration: none !important;
}

#list article header hgroup {
    margin-bottom: 10px;
}

#list article header hgroup > * {
    margin: 0;
}

#list article header hgroup h6 {
    margin-top: -5px;
}

body > footer {
    text-align: center;
    font-size: 11px;
    padding-top: 40px;
}

.loading-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 21;
    font-size: 12px;
    display: none;
}

.loading-list ul {
    display: inline-block;
    background: rgb(140, 140, 140);
    color: #ffffff;
    padding: 2px 4px;
    -webkit-box-shadow: 0, 0, 4px, rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0, 0, 4px, rgba(0, 0, 0, 0.2);
    box-shadow: 0, 0, 4px, rgba(0, 0, 0, 0.2);
}

.loading-list ul li {
    list-style: none;
}

#article-contents {
    padding-top: 20px;
    margin-bottom: 40px;
}

#article-contents > li {
    margin: 20px 0 20px -25px;
    position: relative;
}

/*
#article-contents > li::before {
    content: "\00B6";
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
} */
#article-contents > li + li {
    margin-top: 40px;
}

#article-contents > li .handle {
    float: left;
    cursor: pointer;
    margin-right: 10px;
    padding-top: 4px;
    visibility: hidden;
}

#article-contents > li .delete {
    display: block;
    float: right;
    top: 2px;
    padding-left: 5px;
    opacity: 0;
}

#article-contents > li .help {
    position: absolute;
    bottom: 100%;
    right: 0;
    font-size: 11px;
    display: none;
}

#article-contents > li .language-editor {
    position: absolute;
    bottom: 100%;
    right: 18px;
    opacity: 0.4;
    margin-bottom: 3px;;
}

#article-contents > li:hover .delete,
#article-contents > li:hover .language-editor,
#article-contents > li:hover .help {
    display: block;
    opacity: 1;
}

#article-contents > li > .editor {
    cursor: text;
    overflow: hidden;
    padding: 2px 4px;
}

#article-contents > li:hover > .editor {
    background: #eee;
}

#article-contents > li:hover > .handle {
    visibility: visible;
}

#article-contents > li > .editor textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/*
#article-contents > li:hover::before {
   content: "";
}
*/

#article-contents > li.a-new-image .image-dropzone {
    padding-top: 12px;
    text-align: center;
    outline: 2px dashed #ccc;
}

#article-contents > li.a-new-codesnippet {
    font-family: 'Source Code Pro', monospace;
}

#article-contents > li img {
    max-width: 100%;
}

