<template name="article">
    <div id="article">
        {{> article_content}}
    </div>
</template>

<template name="article_content">
    {{#with current_article}}
    <article>
        {{#if is_archived}}
        <div class="alert alert-block">
            <h4>Archived!</h4>
            This article is archived. Use the button on the right to publish it.
        </div>
        {{/if}}
        {{#if is_user}}
        {{> article_edit}}
        {{/if}}
        <header class="page-header">
            <hgroup>
                <h6>
                    {{user_name}}
                    <small>{{datestring time}}</small>
                </h6>
                <h2>{{title}}
                    <small>{{subtitle}}</small>
                </h2>
            </hgroup>
        </header>
        <section>
            <div class="lead">{{#markdown}}{{{intro}}}{{/markdown}}</div>
            <div class="dynamic-content">
                {{#if dynamic_content}}
                    {{#each dynamic_content}}
                    {{{get_content this}}}
                    {{/each}}
                {{else}}
                {{/if}}
            </div>
        </section>
        <hr>
        <footer>
            <p>
                {{#each tags}}
                <span class="label label-inverse">{{this}}</span>
                {{/each}}
            </p>
        </footer>
    </article>
    {{/with}}
</template>

<template name="article:paragraph">
    {{#markdown}}{{{content}}}{{/markdown}}
</template>

<template name="article:image">
    {{#if content}}
    {{#markdown}}{{{content}}}{{/markdown}}
    {{/if}}
</template>

<template name="article:code">
    <pre class="prettyprint"><code class="{{content.type}}">{{content.code}}</code></pre>
</template>

<template name="article_edit">
    <div class="pull-right btn-group">
        <a class="btn btn-small internal-link" href="/p/{{slug}}"><i class="icon-pencil"></i></a>
        {{#if is_archived}}
        <button class="publish-article btn btn-small btn-info" value="{{_id}}"><i
                class="icon-share icon-white"></i>
        </button>
        {{else}}
        <button class="archive-article btn btn-small btn-warning" value="{{_id}}"><i
                class="icon-ban-circle icon-white"></i>
        </button>
        {{/if}}
    </div>
</template>