<template name="article">
    {{#if show_view "article"}}
    <div id="article">
        {{> article_content}}
    </div>
    {{/if}}
</template>

<template name="article_content">
    <article>
        {{#if is_user}}
        {{> article_edit}}
        {{/if}}
        {{#with current_article}}
        <header>
            <hgroup>
                <h3>{{title}}
                    <small>{{subtitle}}</small>
                </h3>
                <h4>
                    {{user_name}}
                    <small>{{datestring time}}</small>
                </h4>
            </hgroup>
        </header>
        <section>
            <div class="lead">{{#markdown}}{{intro}}{{/markdown}}</div>
            <div class="dynamic-content">
                {{#each dynamic_content}}
                {{{get_content this}}}
                {{/each}}
            </div>
        </section>
        {{/with}}
    </article>
</template>

<template name="article:paragraph">
    {{#markdown}}{{content}}{{/markdown}}
</template>

<template name="article_edit">
    <div class="pull-right">
        <a class="btn btn-mini" href="#"><i class="icon-pencil"></i></a>
    </div>
</template>