<template name="entry_create_form">
    {{#with current_article}}
    <form>
        <div class="alert alert-info">
            {{#if this}}
            <h4>Edit article</h4>
            <input type="hidden" name="edit_id" value="{{_id}}">
            {{else}}
            <h4>Create article</h4>
            {{/if}}
        </div>
        <fieldset>
            <legend>Mandatory</legend>
            <label class="control-label" for="title">Title</label>
            <input type="text" id="title" name="title" class="span8" placeholder="enter the main title"
                   required="required" value="{{title}}">
            {{#if this}}
            <div class="alert alert-block">
                <strong>Remember!</strong>
                Changing the title will <strong>not</strong> change the article's original url!
            </div>
            {{/if}}

            <label class="control-label clear" for="subtitle">Subtitle</label>
            <input type="text" id="subtitle" name="subtitle" class="span8" placeholder="enter a subtitle"
                   value="{{subtitle}}">

            <label class="control-label" for="tags">Tags</label>
            <input type="text" id="tags" name="tags" class="span8" placeholder="choose tags" required="required"
                   value="{{tags}}">
            <span class="help-block">Add a comma separated list of tags the entry belongs to</span>

            <label class="control-label" for="intro">Introduction
                <small><em>Markdown allowed</em></small>
            </label>
            <textarea id="intro" name="intro" class="span8" maxlength="200" rows="4"
                      required="required">{{intro}}</textarea>
            <span class="help-block">The intro text is visible in the list view and emphasized in the article view.
            </span>

            <legend>Content</legend>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="#" class="new-paragraph btn btn-small" title="Add new paragraph"><i class="icon-font"></i></a>
                    <a href="#" class="new-code btn btn-small" title="Add new code-snippet">{ }</a>
                    <a href="#" class="new-image btn btn-small" title="Add new picture"><i class="icon-picture"></i></a>
                </div>
            </div>

            <ul id="article-contents" class="unstyled dynamic-content">
                {{#each dynamic_content}}
                {{{get_content this}}}
                {{/each}}
            </ul>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>
    {{/with}}
</template>

<template name="paragraph_editor">
    <div class="handle"><i class="icon-move"></i></div>
    <div class="help">
        Markdown allowed
    </div>
    <a class="delete" href="/delete"><i class="icon-trash"></i></a>

    <div class="editor"><textarea placeholder="Add your content (Markdown allowed)">{{content}}</textarea></div>
</template>

<template name="code_editor">
    <div class="handle"><i class="icon-move"></i></div>
    <a class="delete" href="#"><i class="icon-trash"></i></a>
    {{> language_dropdown}}
    <div class="editor"><textarea placeholder="Add your code snippet">{{content.code}}</textarea></div>
</template>

<template name="image_editor">
    <div class="handle"><i class="icon-move"></i></div>
    <a class="delete" href="#"><i class="icon-trash"></i></a>

    {{#if content}}
    <div class="editor">
        {{#markdown}}{{{content}}}{{/markdown}}
    </div>
    {{else}}
    <div class="image-dropzone editor">
        <p>Select an image below</p>

        <p>
            <input type="file" accept="image/*">
        </p>
    </div>
    {{/if}}
</template>