<head>
    <title>devdiary</title>
</head>

<body>
{{> login}}
<div class="container-fluid">
    <div class="row-fluid">
        <header id="logo" class="span12">
            <a href="/l" class="internal-link"><h1 class="page-header">now i [k]now</h1></a>
        </header>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid clearfix">
        <aside class="span2">
            {{> admin_nav}}

            <h4>Tags</h4>

            <p class="tags">
                {{> tags}}
            </p>
        </aside>
        <section class="content span7 offset1">
            {{> list}}
            {{> article}}
            {{> produce}}
        </section>
    </div>
</div>
<footer>
    <a href="http://andreas-wehr.de">andreas wehr</a> 2012, build with <a href="http://meteor.com">meteor</a>
</footer>
{{> subscription_progress}}
</body>

