<template name="language_dropdown">
    <div class="language-editor btn-group">
        <button class="current-lang btn btn-mini">Plain Text</button>
        <button class="language-toggle btn btn-mini dropdown-toggle">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="active"><a href="#" data-val="plain">Plain text</a></li>
            <li><a href="#" data-val="auto">Auto Detection</a></li>
            <li><a href="#" data-val="xml">HTML</a></li>
            <li><a href="#" data-val="css">CSS</a></li>
            <li><a href="#" data-val="javascript">Javascript</a></li>
            <li><a href="#" data-val="coffeescript">Coffeescript</a></li>
            <li><a href="#" data-val="ruby">Ruby</a></li>
        </ul>
    </div>
</template>