<template name="list">
    {{#if show_view "list"}}
    <div id="list">
        {{#each articles}}
        {{> article_abstract}}
        {{/each}}
    </div>
    {{/if}}
</template>


<template name="article_abstract">
    <a href="/a/{{slug}}" class="internal-link">
        <article>
            <header>
                <hgroup>
                    <h3>{{title}}
                        <small>{{subtitle}}</small>
                    </h3>
                    <h6>
                        {{user_name}}
                        <small>{{datestring time}}</small>
                    </h6>
                </hgroup>
                <section>
                    <div>
                        {{#markdown}}{{intro}}{{/markdown}}
                    </div>
                </section>
            </header>
        </article>
    </a>
</template>